<div class="mega-menu">
        <div class="mega-menu-top">
            <div class="mega-search">
                <label for="mega-search">Search</label>
                <input type="search" id="mega-search" placeholder="Search" />
            </div>
            <div class="close">
                <span>&#10006;</span> 
            </div>
        </div>
        <h3>Catalog</h3>
        <ul class="nav themes">
            <li><a href="#"> Mice</a></li>
            <li><a href="#"> Cats</a></li>
            <li><a href="#"> Dogs</a></li>
            <li><a href="#"> Rabbits</a></li>
            <li><a href="#"> Crocodiles</a></li>
            <li><a href="#"> Chicks</a></li>
            <li><a href="#"> Dinosaurs</a></li>
            <li><a href="#"> Skunks</a></li>
            <li><a href="#"> Rats</a></li>
            <li><a href="#"> Crows</a></li>
        </ul>
        <footer>
            <div class="logo-footer">  
              <img src="images/logo.png">
            </div>
            <ul class="nav footer">
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Privacy Policy</li>
            </ul>
        </footer>
    </div>