<template id="productItem">

        <article class="grid-item">
          <div class="product-wrapper">    
            <div class="product">
              <p class="product-name">Very&nbsp;Big&nbsp;Cat</p>
              <div class="icon">
                <div class="icon-background"></div>
                  <span class="shopping-cart">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                  </span>
                </div>
                <div class="product-picture">
                  <img src="" alt="Nice Cat" />
                </div>
                <span class="product-description"></span>
                <div class="product-menu"  productId='1'>
                  <div class="product-price">
                    9.99
                  </div>
                  <div class="buy-now">
                    Buy now!
                  </div>
                  <div class="product-detail">
                    Detail
                  </div>
              
                  <div class="how-many">
                    <div class="quantity-input">
                      <input class="minus btn" type="button" value="-">
                      <input class="input-text quantity text" value="3" size="4">
                      <input class="plus btn" type="button" value="+">
                    </div>
                  </div>
                  <div class="cancel">
                    Cancel
                  </div>
                  <div class="add-to-cart">
                    Add to Cart!
                  </div>
                </div>
            </div>
            <div class="product-back">
                <span class="check">
                  <i class="fas fa-check fa-4x"></i>
                  <p>Success!</p>
                </span>
              </div>   
          </div> 
          
        </article> 
      </template>