.navbar {
  background-color: $primary-color;
  top: 0;
  position: fixed;
  min-width: 100%;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

// Content Wrapper
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav {
  z-index: 10;
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    
    
    a {
      color: white;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {color: $red;}
    }
  }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle {display: none;}
  
  .label-toggle {display: none;}
  
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
  }
  
  @media screen and (max-width: 600px) {
    ul {
      background-color: $primary-color;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid $plum;
      color: $plum;
      display: block;
      font-size: 1.5em;
      padding: 0.5em 0;
    }
  
    // #menu-toggle:checked ~ ul {
    //   opacity: 1;
    //   height: 100vh;
    //   visibility: visible;
    // }

    .active {
      opacity: 1;
      height: 100vh;
      visibility: visible;
      
    }

    .label-toggle {
      background: linear-gradient(to bottom, $red 0%, $red 20%, transparent 20%, transparent 40%, $red 40%, $red 60%, transparent 60%, transparent 80%, $red 80%, $red 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    
    .wrapper {display: block;}
  }
}

  $tag-color: (
    html: #39ADD1,
    css: #3079AB,
    js: #982551,
    ruby: #E15258,
    rails: scale-color(#E15258, $lightness: 22%),
    sass: #CC6699,
    foundation: #074E68,
    mongo: #52AC43
  );

  .categories {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    text-align: center;
    li {
      width: 50%;
    }
    
    @media screen and (min-width: 481px) {
      li { 
        width: 25%;
      }
    }
  }
  
  .tag-block {
      color: white;
      display: block;
      padding: .8rem 1rem;
      &:hover {
        transform: scale(1.1)
      }
      @each $tag, $color in $tag-color {
        &--#{$tag} {
          background: $color;
          transition: .2s;
          &:hover {
            background: lighten($color, 4%);
          }
        }
      }
    }


// .container{
//   position: relative;
//   width: 100%;
// }
// .sidebar {
//       position: absolute;
//       z-index: 3;
//       top: 0;
//       right: 0;
//       width: 30%;
      
//       background: white;
//       overflow: hidden;
      
//       box-shadow: -2px 2px 5px rgba(0,0,0,0.6);
//       -webkit-transform: translate3d(0, -105%, 0);
      
//       transform: translate3d(0, -105%, 0);
//       transition-property: transform;

//       border-left: 1px solid #161616;
// }
  
